{% extends "layout/layout.html" %}

{% block title %}404{% endblock %}
{% block custom_css %}{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="row">
            <div style="height: 200px;" class="col-md-12 text-center mb-5 mb-md-0 mh-100">
                <div class="block">
                    <h1 class="font-weight-bold mb-4 font-size-60">
                        404 File Not Found!
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}



{% block custom_js %}

{% endblock %}